<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Heroes_3_Map_From_Image.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Heroes_3_Map_From_Text.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Heroes_3_Map_From_Image.Properties.Settings>
            <setting name="LatestImg" serializeAs="String">
                <value />
            </setting>
            <setting name="LatestMap" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedTerrains" serializeAs="String">
                <value />
            </setting>
            <setting name="UseGrayscale" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapSizeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MapNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConversionMethod" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LatestMapSaved" serializeAs="String">
                <value />
            </setting>
        </Heroes_3_Map_From_Image.Properties.Settings>
        <Heroes_3_Map_From_Text.Properties.Settings>
            <setting name="LatestImg" serializeAs="String">
                <value/>
            </setting>
            <setting name="LatestMap" serializeAs="String">
                <value/>
            </setting>
            <setting name="SavedTerrains" serializeAs="String">
                <value/>
            </setting>
            <setting name="UseGrayscale" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapSizeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MapNumber" serializeAs="String">
                <value>1</value>
            </setting>
        </Heroes_3_Map_From_Text.Properties.Settings>
    </userSettings>
</configuration>
